/* estilos.css */

.perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.imagen {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.imagen img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover; /* Para mantener la relación de aspecto y recortar la imagen si es necesario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.imagen img:hover {
    transform: scale(1.1);
}

.contenido {
    flex: 2;
    text-align: left;
}

.contenido h2 {
    color: #333;
    margin-bottom: 10px;
}

.contenido p {
    color: #666;
    margin-bottom: 10px;
}

.contenido ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.contenido ul li {
    margin-bottom: 5px;
}

.caja-texto {
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .perfil {
        flex-direction: column;
    }

    .imagen {
        margin-bottom: 20px;
        justify-content: center;
    }

    .imagen img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }
}