body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9e1e1; /* rosado pastel */
    color: #333; /* negro */
    background-image: url('a/i4.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajustar imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-attachment: fixed; /* Fijar la imagen de fondo */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.perfil {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2; /* plomo claro */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.imagen {
    flex: 1;
    text-align: center;
}

.imagen img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 5px solid #f9e1e1; /* rosado pastel */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.imagen img:hover {
    transform: scale(1.1);
}

.contenido {
    flex: 2;
    padding-right: 20px;
}

.contenido h2 {
    margin-top: 0;
    color: #333; /* negro */
}

.contenido p {
    margin-bottom: 10px;
}

.contenido ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contenido ul li {
    margin-bottom: 5px;
}

.caja-texto {
    background-color: #fff; /* blanco */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .perfil {
        flex-direction: column;
    }

    .imagen {
        margin-bottom: 20px;
    }

    .contenido {
        padding-right: 0;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9e1e1; /* rosado pastel */
    color: #333; /* negro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 20px; /* Espacio entre elementos */
}

.item {
    background-color: #f2f2f2; /* plomo claro */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.item img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 5px solid #f9e1e1; /* rosado pastel */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.1);
}

.item h2 {
    margin-top: 0;
    color: #333; /* negro */
}

.item p {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas en pantallas pequeñas */
    }
}